<!DOCTYPE html>
<html>
<head>
	<title>{{ path_urls[-1].name }}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="robots" content="noarchive" />
	<meta name="googlebot" content="noarchive" />
	<link rel="stylesheet" href="/static/style.css" type="text/css" />
	<link rel="icon" type="image/ico" href="/static/favicon.ico"/>

<script>

</script>
</head>
<body>
	<div id="wrap">

		<h1>
		{% for p in path_urls %}<a href="/{{ p.path }}">{{ p.name }}</a>/{% end %}		
		</h1>

		<table>
		{% for f in files %}
		<tr>
			<td>{{ escape(f.timestamp) }}</td>
			<td>{{ escape(f.file_type) }}</td>
			{% if path %}
				<td><a href="{{ escape(  '/' + path + '/' + f.filename) }}">{{ escape(f.filename) }}</a></td>
			{% else %}
				<td><a href="{{ escape( '/' + f.filename) }}">{{ escape(f.filename) }}</a></td>
			{% end %}
			
			{% if f.file_type != 'dir' %}
				<td> {{f.size}} bytes </td>
			{% else %}
				<td>  </td>
			{% end %}
		</tr>
		{% end %}
		</table>
	</div>
<script type="text/javascript">
	
</script> 

</body>
</html>
