<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="robots" content="noarchive" />
	<meta name="googlebot" content="noarchive" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />

<script>

</script>
</head>
<body>
	<div id="wrap">

		<h1>{{ title }}</h1>

		<table>
		{% for f in files %}
		<tr>
			<td>{{ escape(f.timestamp) }}</td>
			<td>{{ escape(f.file_type) }}</td>
			<td><a href="{{ escape(  path + '/' + f.filename) }}">{{ escape(f.filename) }}</a></td>
			{% if f.file_type != 'dir' %}
				<td> {{f.size}} bytes </td>
			{% else %}
				<td>  </td>
			{% end %}
		</tr>
		{% end %}
		</table>
	</div>
<script type="text/javascript">
	
</script> 

</body>
</html>
