body {
	background-color: #1f1e1f;
	color: #fff;
	font-family: sans-serif;
	font-size: 12px;
}

a:link {color:#FFFFFF;text-decoration:none;}
a:visited {color:#FFFFFF;text-decoration:none;}
a:hover {color:#FFFF00;text-decoration:none;}
a:active {color:#FFFF00;text-decoration:none;}

div#right{
	font-size: 8px;
	text-align: right;
}

div#wrap {
	margin: 0 auto;
}

#wrap table {
	width: 100%;
	marign: auto;
	border-collapse: collapse;
}

#wrap th {
	text-align: left;
	border-bottom: 1px solid #fff;
	margin-bottom: 10px;
}
#wrap td {
	font-size: 13px;
	border-bottom: 1px solid #555;
}
#wrap td:nth-child(1) {
    width: 80px;
    font-size: 8px;
}

#wrap td:nth-child(3) {
    font-size: 8px;
    width: 80px;
    text-align: right;
}

#wrap td a {
	display: block;
	padding: 5px 0;
}

#wrap td a:hover {
	background-color: rgba(255,255,255,0.1);
	color: yellow ;
}
/*
tr > td:nth-child(3), tr > td:nth-child(4) {
	font-family: monospace;
}*/
