<!DOCTYPE html>
<html>
<head>
	<title>{{ path_urls[-1].name }}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="robots" content="noarchive" />
	<meta name="googlebot" content="noarchive" />
	<link rel="stylesheet" href="/static/style.css" type="text/css" />
	<link rel="icon" type="image/ico" href="/static/icons/favicon.ico"/>
<script>
</script>
</head>
<body>
	<div id="right">
	Logged in as: {{ current_user }}<br>
	<a href='/logout'>logout</a>
	</div>
	<div id="wrap">
		<h1>{% for p in path_urls %}<a href="/{{ p.path }}">{{ p.name }}</a>/{% end %}</h1>
		<table>
		{% for f in files %}
		<tr>
			<td>{{ escape(f.timestamp) }}</td>
			<td>
      {% if f.is_dir %}
      <a href="{{ url_escape( f.filename ) }}/">
      {% else %}
      <a href="{{ url_escape( f.filename ) }}">
      {% end %}
			<img src="/static/icons/{{ f.file_type }}.gif" alt="{{ f.file_type }}" title="{{ f.file_type }}"/>
			{{ escape(f.filename) }}</a></td>
			<td> {{ f.friendly_size }}</td>
		</tr>
		{% end %}
		</table>
	</div>
<script type="text/javascript">
	
</script> 

</body>
</html>
